<!DOCTYPE html>
<html >
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Halid Ziya Yerebakan</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://unpkg.com/vue@3"></script>
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@3.18.0/dist/tf.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/universal-sentence-encoder"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-8TQGP7CBV5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-8TQGP7CBV5');
</script>


<style>
    html {
        height: 100%;
        vertical-align: middle;
        padding: 20px;
    }
    a {
        text-decoration: none;
    }
    h4{
        margin: 6px;
        margin-left: 0px;
        color: #7a0e0e;
    }
    li { margin: 0px; padding: 0px;}
    input {
    background: #e8f1c5;
    border: 1px solid #72664f;
    border-radius: 4px;
    }
    .page {
    margin: auto;
    background-color: #ffffff;
    height: 98%;
    padding: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    max-width: 1000px;
    }
    .icon{
        max-height: 24px;
        object-fit:
        contain;
        vertical-align: center;
        padding: 0px;
        object-fit: contain;
    }
    td{
        padding: 4px;
    }
    img{
        max-width: 100%;
        max-height: 100%;
    }
    .highlightable:hover{
        background-color: #e8f1c5;
    }
    @media (max-aspect-ratio: 8/5) {
    body {
        font-size: larger;
    }
    }

</style>   


<script id="data" defer>
cv_data = [
    {"section": "Summary", "content": {"text":"Machine Learning professional with experience of machine learning research, development and deployment for clustering, computer vision, natural language processing and speech recognition applications.\
     A software developer experienced on a variety of programming languages.\
     A volunteer educator that empowers others with advanced technical knowledge."}},
    {"section": "Intrests", "content": 
     {"text": "Machine Learning, Natural Language Processing, \
         Computer Vision Bayesian Non-Parametrics, Clustering, \
         Topic Models, Representation Learning, Language Models, \
         Transfer Learning, Parallel Computing, Metric Learning, \
         Speech Recognition."}},
    
    {"section": "Education", "content": 
         {"table": [["https://www.purdue.edu",
                     "https://956560.smushcdn.com/2663776/app/uploads/2022/03/PurdueSignatureLogoHorizontal-cropped-e1648229258541.jpeg?lossy=1&strip=1&webp=1", 
                     "Spring 2017",
                     "Ph.D. Computer Science, Hierarchical Non-parametric Bayesian Mixture Models and Applications"]]}},

    {"section": "Experience", "content": 
         {"table": [["https://www.siemens-healthineers.com",
                     "https://upload.wikimedia.org/wikipedia/commons/7/79/Siemens_Healthineers_logo.svg", 
                     "6/2017 - Present",
                     "Machine Learning Scientist: Developed and deployed LSTM, Resnet, and Transformer based Neural Networks for Medical Imaging or Natural Language processing applications. Investigated different concepts and algorithms to improve radiology workflow. Contributed to cloud infrastructure for efficient AI development."]
                    ,["https://iupui.edu",
                     "https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/IUPUI_wordmark.svg/1200px-IUPUI_wordmark.svg.png", 
                     "1/2011 - 6/2017",
                     "Research & Teaching Assistant: Developed hierarchical non-parametric Bayesian mixture models to extract hierarchical relationships within remote sensing and text data"]
                    ,["https://www.siemens-healthineers.com",
                     "https://upload.wikimedia.org/wikipedia/commons/7/79/Siemens_Healthineers_logo.svg",
                     "Summer 2015, 2016",
                     "Machine Learning Intern: Developed machine learning methods for radiology report analysis and applied for a patent"]
                     
                     ,["https://www.corteva.com/",
                     "https://assets.corteva.com/is/image/Corteva/CortevaLegal_HorColor_RGB_no_tagline",
                     "Summer 2014",
                     "Statistics Intern: Improved a statistical simulation by making it more robust, faster, and more visual. Awarded best intern poster presentation."]
                     ,["https://bashpolesoftware.com/",
                     "https://bashpolesoftware.com/wp-content/uploads/2016/06/bashpolelogo_sm-1.png",
                     "Summer 2012",
                     "Machine Learning Intern: Improved performance of record matching using various machine learning and NLP methods"]
                     ,['https://ctech.com.tr', 'https://ctech.com.tr/frontend/img/logo.svg', 
                      "Summer 2009", "Embedded Developer Intern: RTSP Stream transfer using BeagleBoard embedded system and its GPIO driver"]
                    ]}},
    {"section": "Publications", "content" : {"list": [
        'H Yerebakan, Y Shinagawa, A Jerebko, K Zeng, S Allen-Raffl, Gerardo Hermosillo Valadez, "Clinical decision support", US Patent Applicaton,  17/388,128, 2022',
        'H Yerebakan, Y Shinagawa, A Jerebko, K Zeng, S Allen-Raffl, Gerardo Hermosillo Valadez, "Clinical decision support", EP Patent EP3955260A1, 2022',
        'Shaika Chowdhury, Halid Yerebakan, Yoshihisa Shinagawa, Philip S. Yu ”MedTextSeg: A Deep Dual Sequential Model for Section Segmentation in Medical Reports” 2021 IEEE International Conference on Big Data (2021).',
        'Halid Yerebakan, Yoshihisa Shinagawa, Anna Jerebko ”Image Retrieval”. EP Patent Application EP3910645A4 (2021)',
        'Halid Yerebakan, Anna Jerebko, Parmeet Bhatia ”Processing a medical image to provide a visual indicator”. EP Patent Application EP3869453A1 (2021)',
        'Halid Yerebakan, Yoshihisa Shinagawa. ”Encoding textual information for text analysis.” U.S. Patent Application No. 16/846,756, US20200334410A1 (2020).',
        'Yoshihisa Shinagawa, Halid Ziya Yerebakan ”Supervised Features For Text Classification”, EP Patent Application EP3657354A1 (2020).',
        'Colin B Hansen, Yiyuan Zhao, Halid Yerebakan, Luca Bogoni, Anna Jerebko ”False positive reduction of vasculature for pulmonary nodule detection”, Proceedings Volume 11314, Medical Imaging 2020: Computer-Aided Diagnosis; 113142B (2020)',
        'Halid Ziya Yerebakan, Yoshihisa Shinagawa, Parmeet Bhatia, Yiqiang Zhan ”Visualization framework based on document representation learning”, US Patent App. 15/865,539.',
        'Halid Ziya Yerebakan, Yoshihisa Shinagawa, Parmeet Bhatia, Yiqiang Zhan ”Document Representation Learning For Patient History Visualization”, Coling 2018 Demo Paper.',
        'Halid Ziya Yerebakan, Murat Dundar ”Partially Collapsed Parallel Gibbs Sampler for Dirichlet Process Mixture Models”, Pattern Recognition Letters, 2017',
        'Halid Ziya Yerebakan, Yiqiang Zhan, Fitsum Reda, Yoshihisa Shinagawa ”Hierarchical Latent Word Clustering”, NIPS Non-parametric Bayesian Workshop, NIPS’15.',
        'Halid Z. Yerebakan, Bartek Rajwa, Murat Dundar, ”The Infinite Mixture of Infinite Gaussian Mixtures”, (I2GMM) NIPS’14',
        'Murat Dundar, Halid Ziya Yerebakan , Bartek Rajwa, ”Batch Discovery of Recurring Rare Classes toward Identifying Anomalous Samples” , SIGKDD 2014.',
        'Murat Dundar, Ferit Akova, Halid Z. Yerebakan, Bartek Rajwa, ”A Non-parametric Bayesian Model for Joint Cell Clustering and Cluster Matching: Identification of Anomalous Sample Phenotypes with Random Effects,” BMC Bioinformatics 15 (1), 314, 2014'
    ]}},
                     
    {"section": "Achivements", "content" : {"list": 
    ["Winner AWS Challenge HackOhio Hackathon, Ohio State University, 2016",
     "Ranked 1st in MayIchallenge Artificial Intelligence contest, METU, 2011",
     "Ranked 2nd, Bilkent University Robotic Contest 2010, Robotic arm project, TURKEY",
     "Second stage, Tubitak National Computer Olympiads and bootcamp(top 50 in the nation)",
     "Research Assistantship, IUPUI (NSF Funded)",
     "Graduate Student Scholarship, Tubitak (Turkey‘s NSF) award, 2010, TURKEY",
     "Full scholarship, Fatih University, and financial support funding",
     "Turkish Government Scholarship (DPY) , Middle School",
     "Ranked 169 in nationwide University Placement Exam (OSS) among about 2M participants",
     "Ranked 658 in nationwide Graduate Examination among 225,930 participants",
     "Ranked 1500 in High School Placement Exam in TURKEY among about 500,000 students", 
     "Ranked 2 upon graduation, Electronics Engineering in Fatih University"]}},

    {"section": "Technical Skills", "content" : {"list": [
        "Natural Language Processing: Translation, Information Extraction, Language Modeling, Sentence Classification, BERT, Transformers",
        "Bayesian Learning: Generative Models, Gibbs Sampling, Conjugate Prior, Clustering, Topic Models",
        "Computer Vision: Classification, ResNET, Unet, Image Registration, Metric Learning",
        "Speech Recognition: CTC loss, Spectogram, FFT, ASR, Registration",
        "Optimization: Gradient Based Optimization, Parallelization, Gauss-Newton Optimization, Sampling Based Optimization",
        "Deployment: TensorflowLite, TensorflowJS, Docker, Nginx, RestAPI, AWS, Azure, Django, NodeJS, RestAPI",
        "Environments: Mobile, Embedded, Cloud, Workstation, Front-End, HPC, Linux, Windows, FreeBSD, Vmware, Android",
        "Programming: Python, C/C++, Matlab, Java, R, JavaScript, .NET, PHP, Bash, HTML5, CSS, SQL, Julia, Pascal, Dart, Kotlin",
        "Source Control: Git, SVN",
        "Libraries: Numpy, Pandas, Tensorflow, PyTorch, Keras, QT, Jquery, OpenGL, SDL, CTakes, Vue",
        "Serialization: XML, Json, FHIR",
        "Databases: CosmosDB, MySQL, SQLLite, Oracle",
        "Documentation: Latex, Lyx, Overleaf, Canva",
        "Embedded: GNU make, Arduino, BeagleBoard, Rasberry pi, Pic, X86, Verilog HDL",
        "Design: AutoCAD, Photoshop, InkPad",
        "Security: Wireshark, SSL",
        "IDE: Visual Studio, Spyder, VSCode, Chrome, Eclipse, Netbeans"
    ]}},

    {"section": "Digital Footprint", "content" : {"list": [
        "https://halidziya.github.io",
        "https://github.com/halidziya",
        "https://halidziya.blogspot.com",
        "https://scholar.google.com/citations?user=jgI0b8cAAAAJhl=en",
        "https://www.linkedin.com/in/halid-ziya-yerebakan-a7124226/",
        "https://lesson.land",
        "https://tajweedmate.com",
        "https://amiai.art",
        "https://sourceforge.net/u/halidziya/profile/"]}},

    {"section": "Service", "content" : {"list": 
        ["Lesson.Land Volunteer Tutor",
         "TajweedMate Speech Recognition Engine",
         "SIAM SDM 2014 Reviewer, NIPS 2016 Reviewer",
         "FreeBSD Developers Handbook translation"]}},


]

</script>



<script defer>
window.onload = function () {
const { createApp } = Vue;

window.vueapp = createApp({
    data() {
      return {
        data: cv_data,
        keyword : ""
      }
    }
  }).mount('#app')
}

var model=null;
window.addEventListener('load', function() {
var searchinput = document.getElementById("search");
searchinput.addEventListener("keydown", function(event) {
    window.vueapp.keyword=searchinput.value.toLowerCase();
});

use.load().then(m => {model=m;console.log("Model loaded...");hide_spinner();})

searchinput.addEventListener("focus", function(event) {
    searchinput.value = "";
    window.vueapp.keyword="";
});

});

var similarities = [];
function highlight(element){
    spans = document.getElementsByClassName('highlightable');
    words = Array.prototype.slice.call(spans).map(v => v.innerText.toLowerCase().trim())
    selected = words.findIndex(v => v == element.innerText.toLowerCase().trim());
    if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent))
    {
        selected_text = words[selected];
        for (let i=0;i<words.length;i++)
        {
            text = words[i];
            change = 255 - 200*(text==selected_text);
            spans[i].style.backgroundColor = "rgb(255,255,"+change+")";
        }
    }
    else
    {
        show_spinner();
        model.embed(words).then(embeddings => {
            embeddings = embeddings.div(tf.norm(embeddings, 2, 1, 1))
            selected_embed = embeddings.slice(selected,1);
            colors = Array.from(embeddings.dot(selected_embed.transpose()).dataSync());
            for (let i=0;i<spans.length;i++)
            {
                change = 255 - 200*Math.pow(colors[i],3);
                spans[i].style.backgroundColor = "rgb(255,255,"+change+")"
            }        
            hide_spinner();
        })
    }
}

function clear()
{
    spans = document.getElementsByClassName('highlightable');
    for (let i=0;i<spans.length;i++)
        spans[i].style.backgroundColor = ""
}

function hide_spinner()
{
    document.getElementById("spinner").style.display="none";
}

function show_spinner()
{
    document.getElementById("spinner").style.display="block";
}


</script>


</head>
<body style="background:#999;">

<div class="page">
    <div id="header" style="display: grid;height: 30px;">
        <div style="grid-column-start: 1;">
                Halid Ziya Yerebakan <br> 
                <a href="mailto:halidziya@gmail.com ">halidziya@gmail.com</a> ||
                <a href="https://halidziya.github.io"> halidziya.github.io </a>
        </div>
        
        <div style="grid-column-start: 2;">
        <a href="https://www.linkedin.com/in/halid-ziya-yerebakan-a7124226/">
        <img class="icon" src="https://content.linkedin.com/content/dam/me/business/en-us/amp/brand-site/v2/bg/LI-Bug.svg.original.svg"></img>
        </a>
        
        <a href="https://github.com/halidziya">
            <img class="icon"  src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png">
            </img>
        </a>
        
        
        <a href="https://scholar.google.com/citations?user=jgI0b8cAAAAJ&hl=en">
            <img class="icon" src="https://img.icons8.com/ios-filled/50/undefined/google-scholar--v2.png"/>
        </a>
        
        <a href="https://halidziya.blogspot.com">
            <img class="icon"  src="https://img.icons8.com/color/48/undefined/blogger.png"/>
        </a>
        </div>

        <div id="spinner" style="grid-column-start: 3;">
            <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewBox="0 0 38 38" stroke="#fff">
                <g fill="none" fill-rule="evenodd">
                    <g transform="translate(1 1)" stroke-width="2">
                        <circle stroke-opacity=".5" cx="18" cy="18" r="18"  stroke="black"/>
                        <path d="M36 18c0-9.94-8.06-18-18-18">
                            <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="1s" repeatCount="indefinite"/>
                        </path>
                    </g>
                </g>
            </svg>
        </div>

        <div style="grid-column-start: 4;">
        Search: 
        <input type="text" id="search" v-model="keyword"></input>
        </div>
    </div>
    <br>
    <hr>
    <div id="app" onclick="clear()">
        <div v-for="row of data">
            <h4>{{row["section"]}}</h4>
            
            <span v-if="row.content.text">
                <span class="highlightable" v-for='word of row["content"]["text"].split(" ")' onclick="highlight(this)">
                    {{word + " "}}
                </span>
            </span>
            
            <table v-if="row.content.table" style="table-layout:fixed;">
            <tr v-for="tablerow of row.content.table.filter(row => row[3].toLowerCase().includes(keyword))">
                <td style="width: 10%;">        
                <a :href="tablerow[0]">
                <img class="icon" :src="tablerow[1]"></a></td>
                <td name="date" style="width: 10%;">{{tablerow[2]}}</td>
                <td style="width: 80%;" >
                    <span class="highlightable" v-for='word of tablerow[3].split(" ")' onclick="highlight(this)">
                        {{word + " "}}
                    </span>
                </td>
            </tr>
            </table>

            <ul v-if="row.content.list" >
                <li v-for="listitem of row.content.list.filter(item => item.toLowerCase().includes(keyword))">
                    <a v-if="listitem.startsWith('http')" :href=listitem>
                    {{listitem}}
                    </a>
                    <span v-if="!listitem.startsWith('http')">
                        <span class="highlightable" v-for='word of listitem.split(" ")' onclick="highlight(this)">
                            {{word + " "}}
                        </span>
                    <span/>
                </li>
            </ul>
            
        </div>
        
    </div>

</div>

</body></html>
